:root{
  --bg-color:#031927; 
  --primary-red:#A2013F;
  --secundary-red:#7A012F;
  --tertiary-red:#51011F;

  --yellow:#E6AF2E;
}
/* width */
::-webkit-scrollbar {
    width: 4px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #602459;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d0003e;
  }

html{
  scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.highlight-primary-red{
  color:var(--primary-red)
}

.giant{
  font-size:96px;
}

.fill {
  width: 100%;
  height: 100%;
}

.wrapper {
  position: relative;
  z-index: 1;

  width: 100%;
  height: 100%;
}

.bg-dark {
  background-color: var(--bg-color);
}

.bg-img{
  aspect-ratio: 1920/1080;
  width: 100%;
  

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bg-about{
  background-image: url("/src/assets/backgrounds/bg-about.svg");
}

.bg-projects{
  background-image: url("/src/assets/backgrounds/bg-projects.svg");
}

.bg-contact{
  background-image: url("/src/assets/backgrounds/bg-contact.svg");
}