.coolbox-container{
    width: 100%;

    --bg-bar:rgba(3, 25, 39, 0.8);
    --bg-display: rgba(3, 25, 39, 0.4);

    animation: flutuar 4s infinite ease-in-out alternate;
}

@keyframes flutuar {
    0%{
        transform: translateY(-5px);
    }
    100%{
        transform: translateY(5px);
    }
}

.bar{
    width: 100%;
    height: 32px;
    background-color: var(--bg-bar);

    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
}

.bar > h1{
    font-size: small;
    font-weight: bold;
}

.circles{
    position: absolute;
    left: 0px;
    
    display: flex;
}

.circles *{
    --circle-size: 14px;
    width: var(--circle-size);
    height: var(--circle-size);
    
    margin-left: 8px;

    transition: .3s ease-in-out;
}

.circle{
    border-radius: 50%;
}

.bg-red{
    background-color: #FF6059;
}

.bg-yellow{
    background-color: #FFBE2F;
}

.bg-green{
    background-color: #29CE42;
}

.bg-red:hover{
    cursor: pointer;  
    background-color: #FF160A; 
}

.bg-yellow:hover{
    cursor: pointer;   
    background-color: #E09900;
}

.bg-green:hover{
    cursor: pointer;   
    background-color: #1B882B;
}

.text-display{
    width: 100%;
    height: 48px;
    background-color: var(--bg-display);

    padding: 8px;
    transition: 0.9s ease-in-out;

    overflow: hidden;
}

.text-display:hover{
    height: 60vh;
}

.text-display > h1 {
    word-wrap: break-word;
    font-size: small;
}

.portrait{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait > img{
    border-radius: 50%;
}

.social-media{
    width: 75%;

    border-radius: 12px;
    background-color: var(--bg-display);
}

.social-media > ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    list-style: none;
}

.social-media > ul > li{
}

.social-media img {
    width: 100%;
    transition: .3s ease-in-out;
}

.social-media img:hover{
    transform: scale(1.3);
}

.terminal-display{
    height: 100%;
}

.terminal-display > h1 {
    margin-top: 8px;
}

.terminal-display > p {
    margin-top: 16px;
}

.rotate{
    display: inline-block;
    animation: rodar 2s infinite ease-in-out alternate;
}

@keyframes rodar {
    0%{
        transform: rotate(30deg);
    }
    100%{
        transform: rotate(-12deg)
    }
}